services:
  mysql:
    image: mysql:8.0
    container_name: techchallenge-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: techchallenge
      MYSQL_USER: fiap
      MYSQL_PASSWORD: fiap123
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - tech-challenge-network
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: techchallenge-app
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=mysql
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/techchallenge?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      - JAVA_OPTS=-Xmx512m -Xms256m
    depends_on:
      mysql:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/actuator/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
    networks:
      - tech-challenge-network
    restart: unless-stopped

volumes:
  mysql-data:
    driver: local

networks:
  tech-challenge-network:
    driver: bridge
